.movieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.movie {
    max-width: 300px;
    border: 2px solid #eee;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}

.poster {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .movies {
        grid-template-columns: repeat(4, 1fr);
    }
}
