.card {
    display: flex;
    flex-direction: column;
    align-items: start;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    max-width: 200px;
    width: 100%;
    cursor: pointer;
}

.cardImage {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.cardContent {
    padding: 0 5px;
}